<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1090071513080-mkfeq0gjt6nk99udd2agq40q9e8hjtpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090071513080-mkfeq0gjt6nk99udd2agq40q9e8hjtpm</string>
	<key>API_KEY</key>
	<string>AIzaSyCv4vS-YfTuVob95A15ipcxR5njB34MOow</string>
	<key>GCM_SENDER_ID</key>
	<string>1090071513080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josemariadelgado.dating</string>
	<key>PROJECT_ID</key>
	<string>dating-8ee1a</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-8ee1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090071513080:ios:68ce28dbc75dcfd8</string>
	<key>DATABASE_URL</key>
	<string>https://dating-8ee1a.firebaseio.com</string>
</dict>
</plist>